@mixin size($w,$h:false)
	width: $w
	@if ($h)
		height: $h
	@else
		height: $w
	
@mixin circle($r)
	+size($r)
	border-radius: 50%

@mixin ab_center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
    
.work-bg
	width: 100%
	height: 500px
	// background-color: #000000
	z-index: 0
	margin: 0
	padding: 0
	+ab_center
	
	.ball-a
		background-color: #618194
		+circle(400px)
		+ab_center
		box-shadow: -40px -40px darken(#618194,10) inset,0 0 20px rgba(0,0,0,0.3)
		opacity: 0.5
		background-image: url("../images/workbg.png")
		background-size: 150px
		background-position: center
		background-repeat: no-repeat
		
		

	.ball-b
		background-color: #000000
		+circle(70px)
		+ab_center
		opacity: 0.3
		box-shadow : 0 0 20px lighten(#faa22e,10)
		z-index: 1000
		background-image: url("../images/layers.png")
		background-size: 30px
		background-position: center
		background-repeat: no-repeat
	.ball-c
		background-color: #faa22e
		+circle(90px)
		+ab_center
		opacity: 0.3
		box-shadow : 0 0 20px lighten(#faa22e,10)
		z-index: 1000
		background-image: url("../images/source-code.png")
		background-size: 50px
		background-position: center
		background-repeat: no-repeat
	.trace1
		+circle(700px)
		border: 1px dashed #000
		+ab_center
		opacity: 0.1
	.trace2
		+circle(1200px)
		border: 1px dashed #000
		+ab_center
		opacity: 0.1

